 @if (!User.Identity.IsAuthenticated)
{
    <br />
    <p>Choose <b>Sign in</b> at the top of the page and sign in with VEYM account!</p>
}
@if (User.Identity.IsAuthenticated)
{
    string name = User.FindFirst("name").Value;
    <div class="text-center">
        <h1 class="display-4">
            Welcome, Tr.   
         <hi class="display-4"> @name</hi>
        </h1>
    </div>
    <hr />
    <br />
    <div class="row">
        <div class="col-md-3">
            <img src="@ViewData["Picture"]" style="border-radius: 50%; height: 200px; width: 200px; margin: 20px;" />
        </div>
        <div class="col-md-9">
            <pre><b>Unique Member ID:  </b> @ViewData["memberID"]</pre>
            <pre><b>Rank:              </b> @ViewData["rank"]</pre>
            <pre><b>Liên Đoàn:         </b> @ViewData["leauge"]</pre>
            <pre><b>Đoàn:              </b> @ViewData["chapter"]</pre>
            <pre><b>Leauge-Chapter ID: </b> @ViewData["leaugeChapterID"]</pre>
        </div>
    </div>
}
