<h2>Update Your Info</h2>
<div class="row">
    <div class="col">
        <pre><b>First Name:        </b> @Html.TextBox("FirstName", @ViewData["XfirstName"], new { @class = "form-control" })</pre>
        <pre><b>Last Name:         </b> @Html.TextBox("LastName", @ViewData["XlastName"], new { @class = "form-control" })</pre>
        <pre><b>Rank:              </b> @Html.TextBox("Rank", @ViewData["Xrank"], new { @class = "form-control" })</pre>
        <pre><b>Liên Đoàn:         </b> @Html.TextBox("Leauge", @ViewData["Xleauge"], new { @class = "form-control" })</pre>
        <pre><b>Đoàn:              </b> @Html.TextBox("Chapter", @ViewData["Xchapter"], new { @class = "form-control" })</pre>
    </div>
</div>

